<h3>Edit Category</h3>
    <%= form_with model: @category, url: admin_category_path, data: { turbo: false } do |form| %>
        <%= form.label :name, class: 'form-label' %><br>
        <%= form.text_field :name, class: 'form-control' %><br>
        <%= form.submit class: 'btn btn-primary' %>
    <% end %>